/* مقایسه جدول اصلی */
.comparisonTable {
  border-radius: 8px;
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #014aca;
}

/* شبکه برای ستون‌های مقایسه */
.comparisonGrid {
  display: flex;
  justify-content: space-between;
}

/* ستون‌های مقایسه */
.compareColumn {
  width: 48%;
  border: 1px solid #eaeaea;
  padding: 10px;
}

/* هدر ستون‌های مقایسه */
.compareHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.compareHeader h3 {
  margin: 0;
  font-size: 16px;
}

/* دکمه بستن ستون */
.closeBtn {
  background-color: #eaeaea;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* عنوان بخش‌های مقایسه */
.compareSection h4 {
  margin-top: 10px;
  color: #d32f2f;
  background-color: #eaeaea;
  padding: 5px;
}

/* آیتم‌های مشخصات محصول */
.specItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eaeaea;
}

.specItem span {
  display: block;
  color: #333;
}

.specItem:last-child {
  border-bottom: none;
}

/* برای موبایل (حداکثر 480px) */
@media (max-width: 480px) {
  .comparisonTable {
    padding: 10px;
    margin: 5px;
  }
  
  .comparisonGrid {
    flex-direction: column; 
  }

  .compareColumn {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .compareHeader h3 {
    font-size: 14px; 
  }
  
  .closeBtn {
    padding: 5px;
    font-size: 12px; 
  }

  .compareSection h4 {
    font-size: 14px; 
  }
}

/* برای تبلت (حداکثر 768px) */
@media (max-width: 768px) {
  .comparisonTable {
    padding: 15px;
    margin: 10px;
  }
  
  .comparisonGrid {
    flex-direction: column; 
  }

  .compareColumn {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .compareHeader h3 {
    font-size: 15px; 
  }
  
  .closeBtn {
    padding: 5px;
    font-size: 12px; 
  }

  .compareSection h4 {
    font-size: 15px; 
  }
}

/* برای لپ‌تاپ (حداکثر 1200px) */
@media (max-width: 1200px) {
  .comparisonTable {
    padding: 15px;
    margin: 15px;
  }

  .comparisonGrid {
    flex-direction: row; 
  }

  .compareColumn {
    width: 48%; 
  }

  .compareHeader h3 {
    font-size: 16px; 
 }
}