.main {
  margin: 3% 5%;
}
.addressBar {
  margin: 2% 5%;
}
.heroSection {
  background-image: url('/assets/images/about-us.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}
.offerDetails {
  width: 40%;
  padding: 5%;
  margin-left: 10%;
}
.section {
  background-color: white;
  padding: 3% 5%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.trust {
  display: flex;
  justify-content: space-between;
}
.trustPic {
  width: auto;
  height: 150px;
}

.main h2 {
  margin-bottom: 10px;
}

.intro p {
  line-height: 1.6;
  margin: 10px 0;
  text-align: justify;
}

.main ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 10px;
}

.faqItem h3 {
  margin-bottom: 5px;
  color: #0479d9;
}

.faqItem p {
  margin-bottom: 15px;
}

/* برای صفحه‌های بزرگ‌تر از 1200px */
@media (min-width: 1200px) {
  .heroSection {
    height: 500px;
  }
  .offerDetails {
    width: 50%;
  }
}

/* برای تبلت‌ها و صفحه‌های بین 768px و 1200px */
@media (max-width: 1200px) and (min-width: 768px) {
  .heroSection {
    height: 400px;
  }
  .offerDetails {
    width: 60%;
    margin-left: 5%;
  }
  .trust {
    flex-direction: column;
    align-items: center;
  }
  .trustPic {
    margin-top: 20px;
    height: 200px;
  }
}

/* برای موبایل‌ها و صفحه‌های کوچک‌تر از 768px */
@media (max-width: 768px) {
  .main {
    margin: 3% 2%;
  }
  .heroSection {
    height: 300px;
    background-position: top;
  }
  .offerDetails {
    width: 60%;
    margin: 0 10px;
    padding: 10px;
    font-size: 12px;
  }
  .trust {
    flex-direction: column;
    align-items: center;
  }
  .trustPic {
    margin-top: 20px;
    height: 150px;
  }
  .section {
    padding: 10px;
    margin-bottom: 10px;
  }
}
