
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 padding-top: 91px;
  font-family: "Roboto",Arial, sans-serif;
  background: linear-gradient(180deg, #efefef, #f1f1f1);
  color: #333;
  font-size: 14px;
}

.material-icons {
  font-family: 'Material Symbols Outlined'; 
}
a:visited {
  color: rgb(137, 130, 130);    
}
a {
  color: rgb(147, 145, 145);
}
link:active{
  color: rgb(147, 145, 145);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
