.footer {
  background-color: #014aca;
  color: white;
  padding: 20px 5%;
  font-size: 14px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px 0 20px;
  align-items: stretch;
  text-align: justify;
}

.footerSection {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  padding-right: 10px;
  padding-left: 10px;
}

.footerEmail {
  color: azure;
  text-decoration: none;
}

.footerSection h3 {
  margin-bottom: 15px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin-bottom: 10px;
}

.footerSection ul li a {
  color: white;
  text-decoration: none;
}

.footerSection p {
  margin: 10px 0;
  line-height: 1.6;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.socialIcons a img {
  width: auto;
  height: 35px;
}

.footerContainer .divider {
  width: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.622);
}

.signupForm {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.signupForm input {
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  box-shadow: inset 1px 2px 3px rgba(15, 15, 15, 0.201);
  width: 65%;
}

.signupForm button {
  border-radius: 0 20px 20px 0;
  background: linear-gradient(180deg, #edfe82, #fecb7e);
  display: flex;
  padding: 6px 16px;
  width: 80px;
  height: 35px;
  border: none;
  box-shadow: inset 1px 2px 3px rgba(15, 15, 15, 0.201);
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}

.signupForm button:hover {
  background-color: #cafe82;
  color: #014aca;
}

/*   footer-bottom   */ 
.footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.622);
  padding-top: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footerCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.paymentMethods {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 15px;
}

.paymentMethods p img {
  margin: 5px;
  align-items: center;
  text-align: center;
}

.paymentMethods img {
  width: 40px;
  height: 35px;
  border-radius: 3px;
}

.footerCredits ul li a {
  color: white;
  text-decoration: none;
}

.footerCredits ul li a:hover {
  text-decoration: underline;
}

.footerCredits p {
  margin: 0;
}

.footerCredits a {
  margin: 0 5px;
  display: inline-block;
  text-decoration: none;
}
