.productItem {
  background-color: #fff; 
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); 
  width: 320px; 
  text-align: left; 
  position: relative;
  height: 480px;
  margin-bottom: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.productItem:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.proLike {
  position: absolute;
  top: 20px;
  right: 20px;
}

.proLike .material-symbols-outlined {
  color: #979798;
}
.productItem .proImage {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
}
.productItem image {
  max-width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 5px; 
}

.productItem .proTitle {
  font-weight: bold; 
  margin-bottom: 15px; 
  color: #0044ba; 
  flex-grow: 1;
}

.productItem .proInfo {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify;
}

.productItem .proRating image {
  height: 15px;
  width: 80px;
  margin: 0;
}
.productItem .proRating {
  margin: 0 !important;
  font-size: 12px;
  align-items: center;
  color: #6e6e6e;
  position: absolute;
  bottom: 80px;
}

.productItem button:hover {
   background-color: #f0f0f1; 
  font-weight: bold;
  color: #014aca;
  box-shadow: 0px 1px 5px rgba(39, 39, 39, 0.1);
}

.productItem .subInfoPro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: auto;
  position: absolute;
  bottom: 20px; 
  left: 20px; 
  right: 20px;
}

.productItem .infoButton {
  text-align: left;
}
.productItem button {
  background-color: transparent; 
  color: #333;
  padding: 8px 15px; 
  border: 1px solid #014aca;
  cursor: pointer; 
  font-size: 14px; 
  border-radius: 20px; 
}
.productItem .infoPrice {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #014aca;
}
.numberPurchase {
  margin: 0 8px;
}
.removeItem {
  margin-right: 40px;
}
.productItem a{
  color: #014aca;
  text-decoration: none;
}
.productItem a:hover{
  color: #014aca;
}